/* p::first-letter{
    font-size: 3em;
    color: red
}
p::selection{
    background-color: brown;
    color: burlywood;
} */

/* It works only in Mozilla */
/* p::selection::first-letter{
    background-color: brown;
    color: burlywood;
}
p::first-line{
    background-color: chartreuse;
}

li{
    display: inline-block;
    min-width: 100px;
    width: 100%;
    max-width: 150px;
    background-color: cadetblue;
    margin: 5px;
    padding: 20px;
    color: white;
    position: relative;
}

li:before, li:after{
    position: absolute;
    height: 4px;
    width: 0;
    left: 0;
    content: '';
}

li:hover::before{
    background: linear-gradient(to left, #e3004f, #f55228, #f08a00, #d7bd00, #a8eb12);
    bottom: calc(100% + 2px);
    width: 100%;
    transition: width 2s;
}


li:hover::after{
    background: linear-gradient(to right, #e3004f, #f55228, #f08a00, #d7bd00, #a8eb12);
    top: calc(100% + 2px);
    width: 100%;
    transition: width 2s;
}
li:hover{
    color: red;
    transition: color 2s;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridContainer{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 100px 3fr 1fr;
    grid-auto-rows: 300px;
    grid-auto-columns: 50px;
    grid-auto-flow: column;
}

.gridContainer > div{
    border: 2px solid green;
    background-color: coral;
    /* width: 150px;
    height: 150px; */
}

.gridChild1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.gridChild2{
    grid-row-start: 2;
    grid-row-end: 4;
}

